extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt ="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Nam mattis, ante ut euismod fermentum, neque felis lobortis ligula, vitae ornare lacus urna nec sapien. Proin sodales nulla sit amet varius imperdiet. Curabitur vel rutrum ipsum. Nullam ante arcu, facilisis vestibulum aliquet a, auctor eu mauris. Suspendisse elementum porta neque sed ultrices. Integer tempor augue risus, eu blandit arcu auctor vel. 

                p id metus arcu. Proin cursus turpis vel nulla dapibus porttitor. Phasellus congue arcu sed elit tempor,

                p ac vehicula ipsum. Duis pharetra leo eget fermentum hendrerit. Oa.        

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    
                    p id metus arcu. Proin cursus turpis vel nulla dapibus porttitor. Phasellus congue arcu sed elit tempor
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                   
                    p id metus arcu. Proin cursus turpis vel nulla dapibus porttitor. Phasellus congue arcu sed elit tempor
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p id metus arcu. Proin cursus turpis vel nulla dapibus porttitor. Phasellus congue arcu sed elit tempor